@model ProcessRegistration.Models.ProcessModel

<div class="modal-body">
    <table class="table-details">
        <tr>
            <th><strong>Nome do Processo:</strong></th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th><strong>NPU:</strong></th>
            <td>@Model.NPU</td>
        </tr>   
        <tr>
            <th><strong>Data de Cadastro:</strong></th>
            <td>@Model.RegistrationDate.ToShortDateString()</td>
        </tr>
        @if (Model.ViewDate.HasValue)
        {
            <tr>
                <th><strong>Data de Visualização:</strong></th>
                <td>@Model.ViewDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
            </tr>
        }
        <tr>
            <th><strong>UF:</strong></th>
            <td>@Model.State</td>
        </tr>
        <tr>
            <th><strong>Município:</strong></th>
            <td>@Model.City</td>
        </tr>
    </table>
</div>

<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary" id="confirmViewButton" data-process-id="@Model.Id">Confirmar Visualização</button>
</div>
